@font-face {
    font-family:opensans;
    src: url(OpenSans-Bold.ttf);
}
@font-face {
    font-family:aloha;
    src: url(AlohaDemo-ya0V.ttf);
}
@font-face {
    font-family:museosans;
    src: url(MuseoSans_700.otf);
}
@font-face {
    font-family:os2;
    src:url(OpenSans_Condensed-Light.ttf);
}
@font-face {
    font-family:osscl;
    src:url(OpenSans_SemiCondensed-Light.ttf);
}
@font-face {
    font-family:displace;
    src:url(Displace20-Black.ttf);
}
@font-face {
    font-family:oshc;
    src:url(OpenSans_Condensed-Bold.ttf);
}
@font-face {
    font-family: ossc;
    src: url(OpenSans_SemiCondensed-Bold.ttf);
}
@font-face {
    font-family: oscsi;
    src: url(OpenSans_Condensed-SemiBoldItalic.ttf);
}
@font-face {
    font-family: osscr;
    src: url(OpenSans_SemiCondensed-Regular.ttf);
}
@font-face {
    font-family: oscsb;
    src: url(OpenSans_Condensed-SemiBold.ttf);
}
@font-face {
    font-family: oscr;
    src: url(OpenSans_Condensed-Regular.ttf);
}
@font-face {
    font-family: oscl;
    src: url(OpenSans_Condensed-Light.ttf);
}
@font-face {
    font-family: osscl;
    src: url(OpenSans_SemiCondensed-Light.ttf);
}
@font-face {
    font-family: osscb;
    src: url(OpenSans_SemiCondensed-Bold.ttf);
}
@font-face {
    font-family: osscl;
    src: url(OpenSans_SemiCondensed-Light.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
}
.sticky{
    position:sticky !important;
    top:0px !important;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 999;
    transition: 0.6s;
}
#navbar{
    display:flex;
    align-items: center;
    font-family:opensans;
    position: relative;
    justify-content: space-between;
    padding:0px 16px 0px 16px;
    transition:0.6s ;
    z-index: 999;
}
#navbar ul{
    display:flex;
}
#navbar ul li{
    list-style:none;
    padding: 0px 16px 0px 16px;
}
.l1{
    width:95%;
    display:block;
    margin:auto;
    background-color: white;
}
#navbar a:hover{
    background-color: rgb(88, 88, 88,0.8);
    color:rgb(0, 0, 0);
    border-radius: 8px;
}
#navbar a{
    font-size: 0.75rem;
    display:block;
    padding: 4px 6px 4px 6px;
    border-radius: 12px;
    margin:4px 4px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition: 0.5s;
}

.search{
    display:flex;
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    height:3rem;
    margin: 8px 8px;
    position: relative;
    right: 24px;
}
.logo img:hover{
    filter:invert(100%);
    cursor: pointer;
}
.search img{
    position: relative;
    top:7px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background:none;
    color:rgb(255, 255, 255);
    margin-right: 12px;
    padding: 2px;
}
.search img:hover{
    background-color: rgb(88, 88, 88);
    border-radius: 12px;
}
.sub-menu-wrap{
    position: absolute;
    top:50px;
    left:36px;
    color: white;
    background-color: rgb(0, 0, 0, 0.9);
    font-family:opensans;
    font-size: 0.75rem;
    cursor: pointer;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 8px;
    z-index: 99999;
}
.sub-menu-wrap.om{
    max-height: 250px;
}
.sub-menu-wrap.omo{
    max-height: 0px;
}
.sml{
    display: flex;
    align-items: center ;
}
.sub-menu-wrap #top{
    font-size: 1.5rem;
    font-weight: 900;
}
.sub-menu-wrap2{
    position: absolute;
    top:50px;
    left:128px;
    color: white;
    background-color: rgb(0, 0, 0, 0.9);
    font-family:opensans;
    font-size: 0.75rem;
    cursor: pointer;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 8px;
    z-index: 999999;
}
.sub-menu-wrap2 #top{
    font-size: 1.5rem;
    font-weight: 900;
}
.sub-menu-wrap2.om2{
    max-height: 270px;
}
.sub-menu-wrap2.omo2{
    max-height: 0px;
}

.sub-menu-wrap3{
    position: absolute;
    top:50px;
    left:256px;
    color: white;
    background-color: rgb(0, 0, 0, 0.9);
    font-family:opensans;
    font-size: 0.75rem;
    cursor: pointer;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 8px;
    z-index: 99999;
}
.sub-menu-wrap3 #top{
    font-size: 1.5rem;
    font-weight: 900;
}
.sub-menu-wrap3.om3{
    max-height: 280px;
}
.sub-menu-wrap3.omo3{
    max-height: 0px;
}

.sub-menu-wrap4{
    position: absolute;
    top:50px;
    left:870px;
    color: white;
    background-color: rgb(0, 0, 0, 0.9);
    font-family:opensans;
    font-size: 0.75rem;
    cursor: pointer;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 8px;
    z-index: 999999;
}
.sub-menu-wrap4 #top{
    font-size: 1.5rem;
    font-weight: 900;
}
.sub-menu-wrap4.om4{
    max-height: 280px;
}
.sub-menu-wrap4.omo4{
    max-height: 0px;
}
#hoteldetails{
    display: inline-block;
    position: relative;
    left: 400px;
    z-index: 9;
}
.hotelinfo{
    display: flex;
}
.hotelname h1{
    font-family:aloha ;
    font-size: 2rem;
    color: white;
    display: inline-block;
    position: relative;
}
#hoteldetails h2{
    font-family:opensans;
    color:white;
    font-size: 1.7rem;
    position: relative;
    top: 64px;
    left: -162px;
    z-index: 2;
    display: inline-block;
}
#hoteldetails h3{
    font-family:oshc;
    color:white;
    font-size: 1.2rem;
    position: relative;
    top: 112px;
    z-index: 2;
    display: inline-block;
}
#hoteldetails p{
    font-family:os2;
    color:white;
    font-size: 0.8rem;
    position: relative;
    top: 88px;
    z-index: 2;
    display: inline-block;
    opacity: 0.8;
}
.amenities{
    display: flex;
    font-family: oscsb;
    color:white;
    font-size: 0.9rem;
    margin-top: 128px;
}
.amenities li{
    /* z-index:9; */
    padding: 2px 4px 2px 4px;
}
#Pricing{
    font-family: os2 !important;
    font-size: 1.6rem !important;
    opacity: 1 !important;
    position:relative !important;
    left:-500px !important;
    top:16px !important;
}
#hoteldetails button{
    width:100px;
    display: block;
    margin: auto;
    font-family: oscsb;
    padding: 2px 4px 2px 4px;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    left: -76px;
    top: -12px;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;
}
#hoteldetails button a{
    text-decoration: none;
    color: black;
}
#hoteldetails button:hover{
    filter: invert(100%);
}
#page1{
    position: relative;
    top: -450px;
}
#page1::before{
    content:"";
    background:url('4b.jpg') no-repeat center center/cover;
    position:absolute;
    height:560px;
    width:100%;
    z-index:-999;
    margin-top: -8px;
}
.page{
    display: flex;
    overflow-x:scroll ;
}
.page::-webkit-scrollbar{
    display: none;
}
.page .c{
    width: 100%;
    display:flex;
}
.page .c .main{
    height:561px;
    opacity: 0.9;
    width:1140px;
}
.p-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -8px;
}
#backbtn2,#nextbtn2{
    position: relative;
    height:5%;
    width: 5%;
    cursor: pointer;
}
#backbtn2:hover,#nextbtn2:hover{
    filter: invert(100%);
}
#backbtn2{
    z-index: 2;
    left:80px;
}
#nextbtn2{
    right:80px;
}
h1{
    font-family: aloha;
    font-weight: 100;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    top: 64px;
    left: 48px;
    color: white;
    z-index: 2;
    top:8px;
    left:120px;
}
#page2::before{
    content:"";
    background:url('formoahubg.png') no-repeat center center/cover;
    position:absolute;
    height:430px;
    width:100%;
    top:580px;
    z-index:-1;
    opacity: 0.85;
}
#page2 .formwrap1{
    display: flex;
    position: relative;
    left: 64px;
}
#page2 .formwrap1 .form1{
    padding-right: 32px;
}
#page2 .formwrap1 .form2{
    padding-left: 32px;
}
#page2 .inputform{
    position: relative;
    top: -380px;
    z-index: 999;
    display: inline-block;
    left: 100px;
}
#page2 .inputform label{
    color: white;
    font-family: oscr;
    font-size: 1.2rem;
}
#page2 .inputform input{
    background-color: rgb(255, 255, 255,0.7);
    padding: 4px 300px 4px 8px;
    font-family: oscr;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    border: 0px;
}
#page2 .inputform button{
    background-color: rgb(255, 255, 255,0.9);
    padding: 2px 32px 2px 32px;
    font-family: oshc;
    border-radius: 4px;
    font-size: 1rem;
    border: 0px;
    position: relative;
    left: 490px;
    cursor: pointer;
    top: 32px;
}
#page2 .inputform button:hover{
    filter: invert(100%);
    border: 0px;
}
#divp7{
    position: relative;
    top:-780px;
}
.footer{
    display: flex;
}
#page7::before{
    content:"";
    background:url('last.jpg') no-repeat center center/cover;
    position:absolute;
    height:400px;
    width:100%;
    z-index:-1;
    margin-top:600px;
} 
.footer{
    display: flex;
}
#page7 #ptag{
    color: white;
    font-size: 2.3rem;
    font-weight: 300;
    font-family: aloha;
    position:relative;
    top: 620px;
    opacity: 0.9;
    left: 64px;
    display: inline-block;
}
#ps,#as{
    position: relative;
    top: 620px;
    width:30%;
}
#ps img,#as img{
    cursor: pointer;
    width: 50%;
}
#as img{
    position: relative;
    left:96px;
    border-radius: 4px;
}
#ps img{
    position: relative;
    right:48px;
}
.f{
    display: flex;
    cursor: pointer;
}
.f p{
    color: white;
    font-family:osscl;
    padding:0px 12px 0px 0px;
    font-size: 0.8rem;
    position:relative;
    top:700px;
    left: 64px;
}
.f p:hover{
    filter: invert(100%);
}
.form{
    position: relative;
    top: 705px;
    left:70%;
    display:inline-block;
}
.form p{
    color: white;
    font-family: osscl;
    font-size: 0.8rem;
}
.input{
    font-family: osscb;
    color:rgb(0, 0, 0);
    font-weight: 200;
    background-color: rgb(255, 255, 255);
    font-size:0.8rem;
    cursor: pointer;
}
.input input{
    margin-right:6px;
    background-color: black;
    color: rgb(255, 255, 255, 40);
    border: 0px;
    padding:2px;
}
.input button{
    font-family: osscb;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0px;
    padding: 0px 8px 1px 8px;
    cursor: pointer;
    margin-left: -9px;
}
.input button:hover{
    color: black;
    background-color:gray;
}
.l2{
    width:95%;
    display:block;
    margin:auto;
    /* height:1px; */
    background-color: white;
    position:relative;
    top:730px;
}
#l{
    display: inline-block;
    color: white;
    font-family: osscl;
    opacity: 0.6;
    font-size: 0.6rem;
    position: relative;
    top:740px;
    left: 64px;
    font-weight: 100;
}
#as img:hover{
    filter: invert(100%);
}
#ps img:hover{
    filter: invert(100%);
}
.fl{
    display: flex;
}
.fl p{
    font-family: osscl;
    font-size: 0.6rem;
    opacity:0.6;
    position: relative;
    top:725px;
    left:70%;
    color: white;
    padding-right: 12px;
    cursor: pointer;
}
.fl p:hover{
    opacity:1;
    filter: invert(100%);
}