<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/hvdtrial-brandon-grotesque" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/zara" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/solid.min.css">
<style>

@font-face {
    font-family: ;
    src: url();
}
@font-face {
    font-family:opensans;
    src: url(OpenSans-Bold.ttf);
}
@font-face {
    font-family:aloha;
    src: url(AlohaDemo-ya0V.ttf);
}
@font-face {
    font-family:museosans;
    src: url(MuseoSans_700.otf);
}
@font-face {
    font-family:os2;
    src:url(OpenSans_Condensed-Light.ttf);
}
@font-face {
    font-family:displace;
    src:url(Displace20-Black.ttf);
}
@font-face {
    font-family:oshc;
    src:url(OpenSans_Condensed-Bold.ttf);
}
@font-face {
    font-family: ossc;
    src: url(OpenSans_SemiCondensed-Bold.ttf);
}
@font-face {
    font-family: oscsi;
    src: url(OpenSans_Condensed-SemiBoldItalic.ttf);
}
@font-face {
    font-family: oscsb;
    src: url(OpenSans_Condensed-SemiBold.ttf);
}
@font-face {
    font-family: oscr;
    src: url(OpenSans_Condensed-Regular.ttf);
}
@font-face {
    font-family: oscl;
    src: url(OpenSans_Condensed-Light.ttf);
}
@font-face {
    font-family: osscl;
    src: url(OpenSans_SemiCondensed-Light.ttf);
}
@font-face {
    font-family: osscb;
    src: url(OpenSans_SemiCondensed-Bold.ttf);
}
@font-face {
    font-family: osscl;
    src: url(OpenSans_SemiCondensed-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
}
 #navbar{
     display:flex;
     align-items: center;
     font-family:opensans;
     position: relative;
     justify-content: space-between;
     padding:0px 16px 0px 16px;
}
#navbar ul{
    display:flex;
}
#navbar ul li{
    list-style:none;
    padding: 0px 16px 0px 16px;
}
#navbar a:hover{
    background-color: rgb(88, 88, 88,0.8);
    color:rgb(0, 0, 0);
    border-radius: 8px;
}
#navbar a{
    font-size: 0.75rem;
    display:block;
    padding: 4px 6px 4px 6px;
    border-radius: 12px;
    margin:4px 4px;
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.search{
    display:flex;
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    height:3rem;
    margin: 8px 8px;
}
.logo img:hover{
    filter:invert(100%);
    cursor: pointer;
}
.search button{
    width: 20px;
    height: 30px;
    border: none;
    cursor: pointer;
    background:none;
    color:rgb(255, 255, 255);
    margin-right: 12px;
}
.search button:hover{
    background-color: rgb(88, 88, 88);
    border-radius: 12px;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    left:32px;
    color: white;
    background-color: rgb(0, 0, 0, 0.4);
    font-family:opensans;
    font-size: 0.75rem;
    cursor: pointer;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.om{
    max-height: 250px;
}
.sml{
    display: flex;
    align-items: center ;
}
img{
    width: 100%;
}
.sticky{
    position: sticky !important; 
    top: 0px !important;
    z-index: 999;
}