<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan your trip</title>
    <link rel="icon" href="/static/logoh.png" type="image/png">
    <!-- Link to your CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body bgcolor="black">
    <navbar id="navbar">
        <!-- <ul>
            <li><a href="#" onclick="togglemenu()" onmouseover="togglemenu()" onmouseout="menuout()" >Islands</a></li>
            <li><a href="#" onclick="togglemenu2()" onmouseover="togglemenu2()" onmouseout="menuout2()">Experiences</a></li>
            <li><a href="#" onclick="togglemenu3()" onmouseover="togglemenu3()" onmouseout="menuout3()">Culture</a></li>
        </ul> -->
        <ul>
            <li><a href="#" onclick="togglemenu()">Islands</a></li>
            <li><a href="#" onclick="togglemenu2()">Experiences</a></li>
            <li><a href="#" onclick="togglemenu3()">Culture</a></li>
        </ul>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="home">
        </div>
        <ul>
            <li><a href="#" onclick="togglemenu4()">Must know</a></li>
            <li><a href="plan.html">Plan your trip</a></li>
            <!-- <div class="search">
                <img src="search.png" alt="">
            </div> -->
        </ul>
        <div class="sub-menu-wrap" id="sm">
            <div class="sub-menu" >
                <div class="sm" >
                    <a href="" class="sml" id="top">Island Overview</a>
                    <a href="" class="sml">Kaua'i</a>
                    <a href="" class="sml">O'ahu</a>
                    <a href="" class="sml">Moloka'I</a>
                    <a href="" class="sml">Lana'i</a>
                    <a href="" class="sml">Maui</a>
                    <a href="" class="sml">Islands</a>
                </div>
            </div>
        </div>
        <div class="sub-menu-wrap2" id="sm2">
            <div class="sub-menu2">
                <div class="sm2" >
                    <a href="" class="sm2" id="top">Experiences overview</a>
                    <a href="" class="sm2">Adventure</a>
                    <a href="" class="sm2">Culinary</a>
                    <a href="" class="sm2">Eco-Tourism</a>
                    <a href="" class="sm2">Family fun</a>
                    <a href="" class="sm2">Golf</a>
                    <a href="" class="sm2">Heritage Sites</a>
                    <a href="" class="sm2">Relaxation & Romance</a>
                    <a href="" class="sm2">Sightseeing</a>
                    <a href="" class="sm2">Voluntourism</a>
                    <a href="" class="sm2">Wedding & Honeymoon</a>
                </div>
            </div>
        </div>
        <div class="sub-menu-wrap3" id="sm3">
            <div class="sub-menu3">
                <div class="sm3">
                    <a href="" class="sm3" id="top">Culture overview</a>
                    <a href="" class="sm3">History</a>
                    <a href="" class="sm3">Traditions</a>
                    <a href="" class="sm3">Hula</a>
                    <a href="" class="sm3">Music</a>
                    <a href="" class="sm3">Luau</a>
                    <a href="" class="sm3">Hawaiian Launguage</a>
                    <a href="" class="sm3">Art</a>
                    <a href="" class="sm3">Film</a>
                </div>
            </div>
        </div>
        <div class="sub-menu-wrap4" id="sm4">
            <div class="sub-menu4">
                <div class="sm4">
                    <a href="" class="sm4" id="top">Planning overview</a>
                    <a href="" class="sm4">Safety</a>
                    <a href="" class="sm4">Travel Tips</a>
                    <a href="" class="sm4">Special Alert/Notices</a>
                    <a href="" class="sm4">Weather</a>
                    <a href="" class="sm4">FAQ</a>
                    <a href="" class="sm4">International Travelers</a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            window.addEventListener("scroll", function() {
                let nb= document.querySelector("navbar");
                nb.classList.toggle("sticky" , window.scrollY > 0);
            })
        </script>
    </navbar>
    <script>
        let sm = document.getElementById("sm");
        let sm2 = document.getElementById("sm2");
        let sm3 = document.getElementById("sm3");


        function togglemenu(){
            sm.classList.toggle("om");
        }
        function togglemenu2(){
            sm2.classList.toggle("om2");
        }
        function togglemenu3(){
            sm3.classList.toggle("om3");
        }
        function togglemenu4(){
            sm4.classList.toggle("om4");
        }
    </script>
    <div class="pg1">
        <h1>Cheackout the places to visit according to your interest</h1>
        <div class="inputform">
            <form action="/recommend"  method="post">
                <div class="formwrap1">
                    <div class="from1">
                        <label for="user_type">Select your type:</label>
                        <select name="user_type" class="selectors">
                            <option value="family">Family</option>
                            <option value="solo">Solo</option>
                            <option value="couple">Couple</option>
                        </select><br><br>
                        <label for="interest">Select your interest:</label>
                        <select name="interest" class="selectors">
                            <option value="foodie">Food</option>
                            <option value="nature lover">Nature</option>
                            <option value="historic place enthusiast">Historic Places</option>
                        </select><br><br>
                        <button type="submit" value="Recommend Places">Submit</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
